 
{% extends 'base.html' %}

{% block styles%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat&family=Suranna&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div class="container">
  <!-- displaying  Username-->
  <h3 class="text-center"> @{{user.username}} </h3>
  <br>
  <div class="row">
    <!--Display profile photo-->
    <div class="col-md-6 text-center">
      {% if user.profile_pic_path %}
      <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail" width="300" height="300">
      {%else%}
      <p>@{{user.username}} has no profile picture</p>
      {% endif %}
      <br>
    </div>

    <div class="col-md-6 text-center">
      <!--Displaying user bio-->
      {% if user.bio %}
        <h4 class="ul">Bio.</h4>
        <p> {{user.bio}}</p>
      {%else%}
        <p> @{{user.username}} has no bio </p>
      {% endif %}
      <br>
    </div> 
  </div>
  <br>
  <div class="row">
    <div class="text-center">
      {% if user == current_user %}
      <br>
      <a href="{{url_for('main.update_profile',uname=user.username)}}"> <button type="button" name="button" class="btn btn-light"> Edit Profile </button></a>
      <br>
      {% endif %}
      <br>
    </div>
  </div>
  <br>
  <div class="row">
    <h3 class="text-center ul">My Pitches</h3>
    <br>
      <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
          {% if pitches %}
            <div class="row ">
            {% for row in pitches | batch(2) %}
              {% for pitch in row %}
                <div class="col-md-6 text-center card">
                  <h4><strong>{{pitch.title | upper}}</strong></h4>
                  <br>
                    <div>
                      <p>"{{pitch.pitch_statement}}"</p>
                      <br>
                      <p>Category: {{pitch.category | upper}}</p>
                      <p>Posted by: <strong>{{pitch.user.username}}</strong></p>
                      <h6>Date: {{pitch.posted.strftime('%Y-%m-%d')}}</h6>
                    </div>
                </div>
              {% endfor %}
            {% endfor %}
            </div>
          {% else %}
            <h2>You have no pitches</h2>
          {% endif %}
        </div>
        <div class="col-md-2"></div>
  </div>
  <div class="row text-center">
    <br>
      <a href="{{url_for('main.new_pitch',uname=user.username)}}"> <button type="button" name="button" class="btn btn-danger"> Add a New Pitch </button></a>
  </div>
  <br>
  <br>
</div>
{% endblock %}