{% extends 'base.html'%}


{% block styles%}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat&family=Suranna&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
<div style="background-image: url('https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
    <div style="background-size: cover;"></div>
<div class="container-fluid">
    <div class="text-center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        
        <h1 style="color:black;">Darolles pitch</h1>
        <h1 style="font-size: large;"></h1>

        <h3 class="title homesub"><em>~ The Art of Pitchcraft ~</em></h3>

        <h4>You have <STRONG>ONE</STRONG> minute to say it all.<br> Whether it's a pickup line, an innovative idea, a tech pitch,<br> a product pitch, or a joke.</h4>
        {% if current_user.is_authenticated %}
        <br>
        {% else %}
<a class="homea" href="{{url_for('auth.login')}}"><h4>Sign in and let's get pitchin'!</h4></a>
        {%  endif   %}
    </div> 
</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

{% endblock%}